{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}T5 Cargo Generator{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>T5 Cargo Generator</h1>
    </div>
    <div class="body">
        {{ wtf.quick_form(form) }}
        {% if error_msg %}
            <h3>Error</h3>
            {{ error_msg }}
        {% endif %}
        {% if cargo.source %}
            <h3>Planet details</h3>
            <table width="75%" cellpadding="10">
                <tr>
                    <th>Planet</th><th>UWP</th><th>Trade codes</th><th>Cargo</th>
                </tr>
                <tr>
                    <td>Source</td>
                    <td>{{ cargo.source.uwp }}</td>
                    <td>{{ ' '.join(cargo.source.trade_codes) }}</td>
                    <td>{{ cargo.cargo }}</td>
                </tr>
                {% if cargo.market %}
                <tr>
                    <td>            
                        Market
                    </td>
                    <td>
                        {{ cargo.market.uwp }}
                    </td>
                    <td>
                        {{ ' '.join(cargo.market.trade_codes) }}
                    </td>
                    <td>
                        {{ 'Sale price: Cr {:,}'.format(cargo.price) }}
                    </td>
                </tr>
                {% endif %}
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
