{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}T5 Cargo Generator{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>T5 Orbit details</h1>
    </div>
    <div class="body">
        {{ wtf.quick_form(form) }}
        {% if orbit.orbit_number %}
            <h3>Orbit details</h3>
            <table width="75%" cellpadding="10">
                <tr>
                    <td>Orbit number</td>
                    <td>{{ orbit.orbit_number }}</td>
                </tr>
                <tr>
                    <td>Radius</td>
                    <td>{{ orbit.au }} (AU)<br>
                    {{ orbit.mkm }} (Mkm)</td>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}